Dave Rolsky <autarch@urth.org> <devnull@localhost>
Dave Rolsky <autarch@urth.org> autarch <autarch@878abba1-507e-414f-af30-0bba99d2f2a9>
John Williams <jwilliams@cpan.org> sharkey <sharkey@878abba1-507e-414f-af30-0bba99d2f2a9>
John Williams <jwilliams@cpan.org> sharkey3 <sharkey3@878abba1-507e-414f-af30-0bba99d2f2a9>
Jonathan Swartz <swartz@pobox.com> (no author) <(no author)@878abba1-507e-414f-af30-0bba99d2f2a9>
Jonathan Swartz <swartz@pobox.com> jswartz <jswartz@878abba1-507e-414f-af30-0bba99d2f2a9>
Jonathan Swartz <swartz@pobox.com> swartz <swartz@878abba1-507e-414f-af30-0bba99d2f2a9>
Ken Williams <ken@mathforum.org> kwilliams <kwilliams@878abba1-507e-414f-af30-0bba99d2f2a9>
Patrick Kane <modus-cpan@pr.es.to>  modus <modus@878abba1-507e-414f-af30-0bba99d2f2a9>
